

.game-container {
  background-color: white;
  max-width: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.63);
  box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.63);
}


h1,
h2,
h3,
p {
  margin-bottom: 10px;
}

.container-dif{
  display: flex;
  justify-content: space-around;
}

.answers-list {
  list-style-type: none;
  padding: 0;
}

.answer {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.answer:hover {
  background-color: #f2f2f2;
}

.correct {
  background-color: #aaf2aa !important;
}

.incorrect {
  background-color: #f28a8a !important;
}

.next-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: #45a049;
}
